<header class="p-3 bg-gray-100 z-10 shadow- md border-b border-gray-300 sticky top-0 left-0 w-full">
  <div class="flex items-center justify-between">
    <h6 class="text-xl text-sky-800 font-medium capitalize">
      <img
        class="w-8 h-8 mr-2"
        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg"
        alt="logo"
      />
      Blog application</h6>
    <button
      *ngIf="!isLoggedIn"
      routerLink="/auth/login"
      class="bg-sky-600 px-2 py-1 inline-block border-0 leading-normal rounded shadow outline-none text-white"
    >
      Login
    </button>

    <button
      *ngIf="isLoggedIn"
      (click)="logout()"
      class="bg-white px-2 py-1 inline-block border-0 leading-normal rounded shadow outline-none text-sky-800"
    >
      Logout
    </button>
  </div>
</header>
